<table class="table table-hover">
		<thead>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Company</th>
			<th>CCS Type</th>
			<th>CCS Date</th>
			<th>CES Type</th>
			<th>CES Date</th>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.id_number, user %></td>
				<td><%= link_to user.firstname, user %></td>
				<td><%= link_to user.lastname, user %></td>
				<td><%=	mail_to user.email, user.email %></td>
				<td><%= link_to user.company.name, user.company %></td>
				<% if user.ccs_type == "None" %>
					<td><p></p></td>
					<td><p></p></td>
				<% else %>
					<td><%= link_to user.ccs_type, user %></td>
					<td><%= link_to user.ccs_date.strftime("%b %d, %Y"), user %></td>
				<% end %>
					<% if user.ces_type == "None" %>
					<td><p></p></td>
					<td><p></p></td>
				<% else %>
					<td><%= link_to user.ces_type, user %></td>
					<td><%= link_to user.ces_date.strftime("%b %d, %Y"), user %></td>
				<% end %>
			</tr>
		</tbody>
	<% end %>
</table>
<%= paginate @users %>