<table class="table table-hover" data-toggle="table">
		<thead>
			<th data-sortable="true">ID</th>
			<th data-sortable="true">First Name</th>
			<th data-sortable="true">Last Name</th>
			<th data-sortable="true">Email</th>
			<th data-sortable="true">Company</th>
			<th data-sortable="true">CCS Type</th>
			<th data-sortable="true">CCS Date</th>
			<th data-sortable="true">CES Type</th>
			<th data-sortable="true">CES Date</th>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.id_number, user %></td>
				<td><%= link_to user.firstname, user %></td>
				<td><%= link_to user.lastname, user %></td>
				<td><%=	mail_to user.email, user.email %></td>
				<td><%= link_to user.company.name, user %></td>
				<% if user.ccs_type == "None" %>
					<td><p></p></td>
					<td><p></p></td>
				<% else %>
					<td><%= link_to user.ccs_type, user %></td>
					<td><%= link_to user.ccs_date.strftime("%b %d, %Y"), user %></td>
				<% end %>
					<% if user.ces_type == "None" %>
					<td><p></p></td>
					<td><p></p></td>
				<% else %>
					<td><%= link_to user.ces_type, user %></td>
					<td><%= link_to user.ces_date.strftime("%b %d, %Y"), user %></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
</table>
<%= paginate @users %>