<div class="row">
	<div class="col-md-6">
		<h1>Name: <%= @user.firstname %> <%= @user.lastname %></h1>
	</div>
	<div class="col-md-6">
		<h4><%= @user.id_number %></h4>
	</div>
</div>
<p><%= @user.email %></p>
<p><%= @user.company.id %></p>
<%= link_to "Edit", edit_user_path %>