<!DOCTYPE html>
<html>
<head>
  <title>Nikobase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top bar_border">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('cat.png'), root_path, class: "navbar-brand cat" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign Out", destroy_admin_session_path %></li>
      </ul>
      <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
        </div>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </form>
      <%end%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Create New User", new_user_path %></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Create New Company</a></li>
            <li><a href="#">Upload Excel Sheet</a></li>
            <li><a href="#">Generate Excel Sheet</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">See My Cat</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Content -->
<div class="container-fluid body">
	<div class="row">
    <div class="col-md-2 col-sm-3 sidebar">
        <ul id="sidebar" class="nav nav-sidebar">
          <li><%= link_to "All Companies", root_path, class: "bar_border" %></li>
        <% Company.all.each do |f| %>
          <li><%= link_to f.name, users_path(company: f.name)%></li>
        <% end %>
        </ul>
    </div>
    <div class="col-md-offset-2 col-md-10 main_content col-sm-9 col-sm-offset-3">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
